[submodule "3rdparty/sglang"]
	path = 3rdparty/sglang
	url = https://github.com/sgl-project/sglang
[submodule "3rdparty/lmcache"]
	path = 3rdparty/lmcache
	url = https://github.com/LMCache/LMCache
[submodule "3rdparty/mooncake"]
	path = 3rdparty/mooncake
	url = https://github.com/kvcache-ai/Mooncake
[submodule "3rdparty/vllm"]
	path = 3rdparty/vllm
	url = https://github.com/vllm-project/vllm
[submodule "3rdparty/dynamo"]
	path = 3rdparty/dynamo
	url = https://github.com/ai-dynamo/dynamo
[submodule "3rdparty/memcache"]
	path = 3rdparty/memcache
	url = https://github.com/Ascend/memcache.git
